@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap");

:root {
  /* Primary */
  /* Full Slider Bar */
  --c-soft-cyan: hsl(174, 77%, 80%);
  /* Slider Backround */
  --c-strong-cyan: hsl(174, 86%, 45%);
  /* Discount Background */
  --c-light-grayish-red: hsl(14, 92%, 95%);
  /* Discount Text */
  --c-light-red: hsl(15, 100%, 70%);
  /* CTA Text */
  --c-pale-blue: hsl(226, 100%, 87%);

  /* Neutral */

  /* Pricing Component Background */
  --c-white: hsl(0, 0%, 100%);
  /* Main Background */
  --c-very-pale-blue: hsl(230, 100%, 99%);
  /* Empty Slider Bar */
  --c-light-grayish-blue: hsl(224, 65%, 95%);
  /* Toggle Background */
  --c-light-grayish-blue-toggle: hsl(223, 50%, 87%);
  /* Text */
  --c-grayish-blue: hsl(225, 20%, 60%);
  /* Text & CTA Background */
  --c-dark-desaturated-blue: hsl(227, 35%, 25%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Manrope", sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: var(--c-grayish-blue);
  background-color: var(--c-very-pale-blue);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}
